* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a1c3ff;
  font-family: "Montserrat", sans-serif;
}

button,
form,
input {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  background: #0000ff;
  position: sticky;
  top: 0;
  margin: 0 auto;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 20px 20px;
  max-width: 1024px;
  margin: 0 auto;
}

.logo a {
  font-family: "WindSong", cursive;
  color: #fff;
  text-decoration: none;
  transition: ease 1s;
}

.logo a:hover {
  color: #f30e79;
}

.navbar-container h1 {
  font-size: 30px;
}

.nav-menu {
  display: flex;
}

.nav-menu li {
  list-style-type: none;
  margin: 0 10px;
  font-size: 15px;
  font-weight: bold;
}

.nav-menu li a {
  color: #fff;
  text-decoration: none;
  transition: ease 1s;
}

.nav-menu li a:hover {
  border-bottom: 1px #f30e79 solid;
  color: #f30e79;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1024px;
  margin: 50px auto 0 auto;
  padding-left: 5%;
}

.header-img {
  max-width: 50%;
  transition: ease 1s;
}

.header-img img {
  margin-bottom: -4px;
  max-width: 80%;
}

.header-text h1 {
  color: #f30e79;
  font-size: 50px;
  transition: ease 1s;
}

.header-text h1 span {
  color: #0000ff;
  transition: ease 1s;
}

.header-text p {
  color: #555353;
  font-size: 15px;
  line-height: 1.2em;
  transition: ease 1s;
}

.header-button {
  border: none;
  box-shadow: 3px 5px 3px #555353;
  background-color: #f30e79;
  padding: 2% 3%;
  transition: ease 1s;
  border-radius: 5px;
  margin-top: 20px;
  transition: ease 1s;
}

.header-button a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.header-button a span {
  display: none;
}

.header-button:hover {
  background-color: #0000ff;
}

/*Animation styles*/
.anim1 {
  transform: translateY(-30px);
  animation: subtleanim 1s forwards linear;
}

@keyframes subtleanim {
  100% {
    transform: translateY(0px);
  }
}

.anim2 {
  transform: translateY(-30px);
  animation: subtleanim2 1s forwards linear;
  animation-delay: 0.5s;
}

@keyframes subtleanim2 {
  100% {
    transform: translateY(0px);
  }
}

.anim3 {
  transform: translateY(-20px);
  animation: subtleanim3 1s forwards linear;
  animation-delay: 0.5s;
}

@keyframes subtleanim3 {
  100% {
    transform: translateY(0px);
  }
}

/*Animation styles end here*/

.about-section-title {
  margin: 0 auto 0 auto;
  background: #fff;
  padding-top: 30px;
}

.about-section-title h1 {
  margin: 2% auto 0 auto;
  color: #0000ff;
  width: 13%;
  font-size: 2.5em;
  padding: 11px 0;
  border-top: 2.5px dotted #0000ff;
  border-bottom: 2.5px dotted #0000ff;
}

.about-section-title h1:hover {
  color: #f30e79;
}

.about-section {
  background-color: #fff;
  margin: 0 auto 20px auto;
  padding: 50px 20px;
}

.about-section .about-heading {
  text-align: center;
}

.about-container {
  display: flex;
  justify-content: space-around;
  align-items: top;
  max-width: 1024px;
  margin: 0 auto;
}

.about-section p {
  color: #000000;
}

.about-me-img {
  padding: 0.5%;
  width: 35%;
  background: #fff;
  border: 1px solid #fff;
  box-shadow: 5px 5px 5px #555353;
  height: fit-content;
}

.about-me-img img {
  width: 100%;
}

.about-me-text {
  margin: 10px auto;
  width: 55%;
}

.about-me-text p {
  font-size: 14px;
  line-height: 2em;
  text-align: justify;
}

.about-connect ul li {
  display: inline-block;
  margin: 10px 10px 10px 0;
}

.about-connect ul li a {
  font-size: 25px;
  color: #0000ff;
}

.about-connect ul li a:hover {
  color: #f30e79;
}

.about-connect p {
  margin-top: 10px;
  color: #0000ff;
  font-size: 20px;
  font-weight: bold;
}

.about-book {
  display: flex;
  justify-content: space-around;
  width: 70%;
  align-items: center;
  margin: 30px auto;
}

.about-book .book-img {
  box-shadow: 5px 5px 8px #555353;
  height: fit-content;
  margin: 0;
}

.about-book .about-book-text {
  line-height: 1.5em;
  width: auto;
  margin-left: 3%;
}

.about-book .about-book-text h3 {
  margin: 40px 0;
}

.about-book-text p {
  line-height: 1.8em;
  font-size: 100%;
}

.about-book h3 {
  margin-top: 20px;
  font-size: 2.5em;
  color: #0000ff;
}

.about-button {
  margin-top: 20px;
  border: none;
  padding: 10px;
  box-shadow: 3px 5px 3px #555353;
  background-color: #f30e79;
  border-radius: 5px;
  transition: ease 1s;
}

.about-button a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.about-button:hover {
  background-color: #0000ff;
}

.blog-section-title {
  margin: 2% auto;
}

.blog-section-title h1 {
  margin: 5% auto 2% auto;
  color: #0000ff;
  width: 11%;
  font-size: 2.5em;
  padding: 11px 0;
  border-top: 2.5px dotted #0000ff;
  border-bottom: 2.5px dotted #0000ff;
}

.blog-section-title h1:hover {
  color: #f30e79;
}

.blog-section {
  display: flex;
  background: #a1c3ff;
  max-width: 1024px;
  margin: 0 auto 30px auto;
  padding: 20px 2%;
}

.blogpost1 {
  display: flex;
  justify-content: space-between;
  margin: auto 2%;
  align-items: center;
  width: 46%;
  padding: 2%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 8px #555353;
}

.blog1-img {
  margin-right: 5%;
}

.blogpost2 {
  display: flex;
  justify-content: space-between;
  margin: auto 2%;
  align-items: center;
  width: 47%;
  padding: 2%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 8px #555353;
}

.blog2-img {
  margin-right: 5%;
}

.blogpost1 h2 {
  color: #0000ff;
}

.blogpost1 p {
  margin: 3% auto;
  line-height: 1.5em;
  text-align: left;
}

.blogpost2 h2 {
  color: #0000ff;
}

.blogpost2 p {
  margin: 3% auto;
  line-height: 1.5em;
  text-align: left;
}

.blog1container p a {
  background-color: #0000ff;
  color: white;
  padding: 4%;
  font-weight: bold;
  border-radius: 3px;
  text-decoration: none;
}

.blog1container p a:hover,
.blog2container p a:hover {
  color: #bbb;
}

.blog2container p a {
  background-color: #0000ff;
  color: white;
  padding: 4%;
  font-weight: bold;
  border-radius: 3px;
  text-decoration: none;
}

.testimonials-section {
  margin: 30px auto 0 auto;
  text-align: center;
  width: 100%;
  background: #fff;
}

.testimonials-content {
  width: 50%;
  height: auto;
  line-height: 2em;
  margin: 0 auto;
  padding-top: 3%;
  padding-bottom: 3%;
}

.testimonials-content h1 {
  margin: 2% auto 2% auto;
  font-size: 2.5em;
  padding: 11px 0;
  border-top: 2.5px dotted #0000ff;
  border-bottom: 2.5px dotted #0000ff;
  width: 44%;
  color: #0000ff;
  line-height: 1.2em;
}

.testimonials-content h1:hover {
  color: #f30e79;
}

.testimonials-content p {
  margin-top: 5%;
  margin-bottom: 2%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #555353;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.prev {
  left: -3%;
}

.next {
  right: -3%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  /*position: absolute;*/
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.contact-section {
  background-image: url("Images/Books 1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3% 3%;
}

.contact-section form {
  margin: 0 auto 2% auto;
  text-align: center;
}

.contact-section form input {
  width: 30%;
  margin: 2% 2%;
  font-size: 100%;
  border-radius: 5px;
  padding: 10px;
  border: none;
}

form .input-group2 textarea {
  width: 64%;
  border-radius: 5px;
}

.contact-section form input:focus {
  border: 1px #000000 solid;
}

.contact-section form button {
  padding: 15px;
  border-radius: 7px;
  font-weight: bold;
  color: #fff;
  background: #0000ff;
  border: none;
  box-shadow: 3px 3px 3px #555353;
  transition: ease 1s;
  font-size: 100%;
  margin-top: 30px;
}

.contact-section form button:hover {
  cursor: pointer;
  background-color: #f30e79;
}

.contact-heading {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  margin: 0 auto;
  padding: 30px 0;
  background: #0000ff;
  font-weight: bold;
  color: #fff;
}

footer a {
  text-decoration: none;
  color: #000000;
  transition: ease 1s;
}

footer a:hover {
  color: #fff;
}

/*ABOUT ME PAGE STYLES*/

.about-pageheader {
  max-width: 1024px;
  margin: 25px auto 0 auto;
  height: 775px;
}

.about-pageheader h1 {
  text-align: center;
  color: #0000ff;
  margin: 0 auto;
}

.bio-intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bio-img {
  max-width: 50%;
  margin-top: 0;
  width: 100%;
}

.bio-img img {
  width: 150%;
}

.bio-text {
  width: 45%;
}

.bio-text h1 {
  margin: 4% auto 3% auto;
}

.bio-text h3 {
  font-size: 200%;
  color: #0000ff;
}

.bio-text p {
  margin-top: 10px;
  color: #f30e79;
  font-weight: bold;
  font-size: 1.3em;
  margin: 5% auto 0 auto;
}

.bio-text ul li {
  list-style-type: none;
}

.aboutpage-connect li {
  display: inline-block;
  margin: 10px 10px 10px 0;
  list-style-type: none;
}

.aboutpage-connect li a {
  font-size: 25px;
  color: #0000ff;
}

.aboutpage-connect li a:hover {
  color: #f30e79;
}

.long-bio {
  margin: 0 auto;
  padding: 2% 0;
  background: #fff;
}

.long-biocontainer {
  max-width: 1024px;
  margin: 0 auto;
  padding: 5% auto;
}

.long-biocontainer h1 {
  text-align: center;
  color: #0000ff;
  margin: 3% auto 0 auto;
  padding: 3% 0;
}

.long-bio p {
  line-height: 1.6em;
  margin: 3%;
}

/* Media queries*/
@media (max-width: 981px) {
  .about-pageheader {
    height: 100%;
  }

  .blog-section {
    flex-direction: column;
  }
  .blogpost1 {
    width: 60%;
    margin: 0 auto;
  }

  .blogpost2 {
    width: 60%;
    margin: 0 auto;
  }

  .blog1container h2,
  .blog1container p {
    font-size: 80%;
  }

  .blog2container h2,
  .blog2container p {
    font-size: 80%;
  }

  .blog1container p a,
  .blog2container p a {
    padding: 5%;
  }

  .blog1-img {
    width: 80%;
  }

  .blog2-img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .header-img img {
    margin-top: 18px;
  }
  .header-container {
    margin: 50px auto 0 auto;
    padding-left: 5%;
  }

  .header-text h1 {
    font-size: 150%;
  }

  .about-container {
    flex-direction: column;
    max-width: 768px;
    width: 95%;
  }

  .about-me-text {
    width: 100%;
  }

  .about-book {
    flex-direction: column;
    width: 90%;
  }

  .about-book .about-book-text {
    line-height: 2em;
    width: 95%;
    font-size: 15px;
  }

  .about-book .about-book-text p {
    width: 95%;
  }
  .about-book-text h3 {
    line-height: 1.2em;
  }

  .about-me-img {
    margin: 0 auto;
  }
  .blog-section {
    flex-direction: column;
  }
  .blogpost1 {
    width: 90%;
  }

  .blogpost2 {
    width: 90%;
  }
  .blog1container h2,
  .blog1container p {
    font-size: 80%;
  }

  .blog2container h2,
  .blog2container p {
    font-size: 80%;
  }

  .blog1container p a,
  .blog2container p a {
    padding: 5%;
  }

  .blog1-img {
    width: 80%;
  }

  .blog2-img {
    width: 80%;
  }

  .testimonials-content {
    width: 90%;
    text-align: left;
  }

  .contact-section {
    padding: 3% 3%;
  }

  .input-group1 input {
    font-size: 20px;
  }
  .input-group2 {
    margin-top: 4%;
  }

  .contact-heading h2 {
    font-size: 100%;
  }

  .bio-text h3 {
    font-size: 150%;
  }
}

@media (max-width: 505px) {
  .navbar-container {
    flex-direction: column;
    height: auto;
    margin: 0 auto;
    z-index: 1;
  }
  .nav-menu {
    margin-top: 20px;
  }
  .nav-menu li {
    margin-left: 4px;
  }
  .bio-text h3 {
    font-size: 100%;
  }
}

@media (max-width: 375px) {
  .navbar-container {
    flex-direction: column;
    height: auto;
    margin: 0 auto;
    z-index: 1;
  }
  .nav-menu {
    margin-top: 20px;
  }
  .nav-menu li {
    margin-left: 4px;
  }

  .header-button {
    margin-bottom: 30px;
  }

  .header-button a {
    font-size: 12px;
  }

  .header-container {
    background-image: url("Images/Elizabeth\ 33.png");
    background-repeat: no-repeat;
    text-align: center;
    margin: 0 auto;
    max-width: 375px;
    height: 450px;
  }
  .header-img {
    display: none;
  }

  .header-text h4 {
    color: #fff;
  }

  .header-text p {
    line-height: 1.5em;
    color: #fff;
  }

  .about-container {
    flex-direction: column-reverse;
    text-align: center;
  }
  .header-text {
    margin-top: 20px;
    text-align: center;
  }

  .header-text h1 {
    font-size: 30px;
  }
  .header-text h3 {
    font-size: 15px;
    max-width: fit-content;
  }

  .about-section-title {
    text-align: center;
    padding-bottom: 0;
  }
  .about-section-title h1 {
    width: fit-content;
    font-size: 30px;
  }

  .about-section {
    padding-top: 10px;
  }

  .about-container {
    flex-direction: column;
  }

  .about-me-img {
    max-width: 360px;
  }

  .about-me-img img {
    width: 100%;
  }

  .about-me-text {
    max-width: 360px;
    text-align: left;
  }

  .bio-text h3 {
    font-size: 100%;
  }

  .blog-section-title h1 {
    width: fit-content;
    font-size: 30px;
  }

  .blog-section {
    display: flex;
    flex-direction: column;
  }

  .blogpost1,
  .blogpost2 {
    height: 320px;
    margin: 5% auto;
  }

  .testimonials-content h1 {
    width: fit-content;
    font-size: 30px;
    text-align: center;
  }

  footer {
    max-width: 375px;
  }

  .footer-section {
    width: 375px;
    margin: 0 auto;
    font-size: 14px;
  }
  /*ABOUT ME PAGE STYLES FOR 375px*/
  .about-pageheader {
    height: 283px;
  }

  .bio-text p {
    font-size: 100%;
  }

  .aboutpage-connect li a {
    font-size: 120%;
  }
}
